.idea
*.iml
*.ipr
*.iws
program.haxe.php
*.versionsBackup
/out_java/
/out.jar
/target
/jtransc-game/target
/jtransc-media-core/target
/jtransc-media-libgdx/target
/jtransc-media-lime/target
/jtransc-media-parent/target