.idea
.gradle
*.iml
*.ipr
*.iws
program.haxe.php
*.versionsBackup
/out_java/
/out.jar
/target
/jtransc-media-game/target
/jtransc-media-core/target
/jtransc-media-libgdx/target
/jtransc-media-lime/target
/jtransc-media-parent/target

/jtransc-media-game/build
/jtransc-media-core/build
/jtransc-media-libgdx/build
/jtransc-media-lime/build
/jtransc-media-parent/build